.agecalculator {
  display: flex;
  width: 21.4375rem;
  padding: 3rem 8rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
  background: var(--White, #FFF);
}
