.rectangle3 {
  display: flex;
  width: 295px;
  align-items: center;
}

.line {
  height: 1px;
  background: var(--Line, #DCDCDC);
  width: 116px;
}

.arrow {
  width: 64px;
  height: 64px;
  border-radius: 216px;
  background: var(--Purple, #854dff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-image {
  width: 24px;
  height: 24px;
}

button{
  width: 64px;
  height: 64px;
  border-radius: 216px;
  background: var(--Purple, #854dff);
  border: none;
  
}

button:hover{
  background: var(--Purple, #a882fa);
  cursor: pointer;
  
}