.app {
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1220px) {
  
  .agecalculator {
    border-radius: 24px 24px 200px 24px;
    width: 840px;
    display: flex;
  }

  form {
    width: 728px;
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }

  .box {
    width: 160px;
  }

  .box .input-containerr {
    display: flex;
    width: 160px;
    padding: 12px 24px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
  }

  input {
    color: var(--Black, #151515);
    /* Heading M */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
  }

  .rectangle3 {
    display: flex;
    width: 728px;
    align-items: center;
  }

  .line {
    width: 316px;
    height: 1px;
    background: var(--Line, #dcdcdc);
  }

  .arrow {
    order: 3;
  }

  .rec5 {
    width: 728px;
    height: 342px;
  }

  .age {
    width: 100%;
  }

  .age-number {
    color: var(--Purple, #854dff);
    /* Heading L */
    font-family: Poppins;
    font-size: 104px;
    font-style: italic;
    font-weight: 800;
    line-height: 110%; /* 114.4px */
    letter-spacing: -2.08px;
    width: 138px;
    height: 114px;
  }

  .age-letters {
    color: var(--Black, #151515);

    /* Heading L */
    font-family: Poppins;
    font-size: 104px;
    font-style: italic;
    font-weight: 800;
    line-height: 110%; /* 114.4px */
    letter-spacing: -2.08px;
  }
}
